# Copy to ".env" in the project root (same folder as pom.xml) and fill in values.
# Do not commit ".env".
#
# MONGO_CLUSTER is ONLY the Atlas hostname (no mongodb+srv:// prefix), e.g.:
#   cluster0.xxxxx.mongodb.net
#
# If MONGO_PASSWORD contains special characters (@ : / ? # etc.), URL-encode it for use in a URI.
MONGO_DATABASE=movie_api_db
MONGO_USER=
MONGO_PASSWORD=
MONGO_CLUSTER=
